.header {
  background: #131313;

  &__title {
    color: aliceblue;
    margin: 0;
    font-size: 18px;
  }

  .ant-menu {
    background: #131313;

    .ant-menu-item-selected {
      background-color: #131313;
    }
    .ant-menu-overflow-item:hover {
      background-color: #131313;
    }
  }
}
